name: CI-CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - run: pip install -r requirements.txt

      - name: Run tests
        id: tests
        continue-on-error: true
        run: pytest

      - name: Mark test failure
        if: steps.tests.outcome == 'failure'
        run: echo "TEST_FAILED=true" >> $GITHUB_ENV

      - name: Run AI auto-fix agent
        if: env.TEST_FAILED == 'true'
        run: python agent.py



  cd:
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run deployment
        run: |
          chmod +x deploy/deploy.sh
          ./deploy/deploy.sh
          
